body {
  text-align: center;
  color: #F3F1E6;
  background-color: #F3F1E6;
  /* max-width: 1510px; */
  /* min-width: 450px; */
  margin: auto;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

section {
  /* blocks nav bar slide in */
  /* overflow: hidden; */
  padding: 70px 0 70px 0;
}

h1 {
  /* font-family: 'Big Shoulders Stencil Display', cursive; */
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 2px;
}

p {
  font-size: 1.2rem;
}

form {
  text-align: left;
}

button {
  font-weight: 600;
}

/* button:hover {
  color: #FFE9A0;
  border-color: #FFE9A0;
} */

.my-width-control {
  width: 1500px;
  padding-left: 2%;
  padding-right: 2%;
  margin: auto;
}

.p-small-heading {
  /* color: #F3F1E6; */
  letter-spacing: 2px;
  font-weight: 700;
}

.black-p {
  color: black;
}

.p-big-italic-heading {
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  font-size: 2.8rem;
  letter-spacing: -1px;
}

.call-to-action-h1 {
  width: 100%;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0 auto 20px auto;
}

.my-bold {
  font-weight: bold;
  color: #4782A6;
}

.my-ital {
  font-style: italic;
}

.link-btn-light-outline {
  /* width: 300px; */
  background-color: transparent;
  border-color: #F3F1E6;
  border-style: solid;
  border-width: 2px;
  color: #F3F1E6;
  font-size: 1rem;
  letter-spacing: 2px;
  margin: 10px 0 0 0;
  padding: 0.5% 5% 0.5% 5%;
}

.link-btn-light-outline:hover {
  background-color: #F3F1E6;
  border-color: #4782A6;
  color: #4782A6;
  }

.link-btn-colour-outline {
  /* width: 300px; */
  background-color: transparent;
  border-color: #4782A6;
  border-style: solid;
  border-width: 2px;
  color: #4782A6;
  font-size: 1rem;
  letter-spacing: 2px;
  margin: 10px 0 0 0;
  padding: 0.5% 5% 0.5% 5%;
}

.link-btn-colour-outline:hover {
  background-color: #4782A6;
  border-color: #4782A6;
  color: #F3F1E6;
}

.link-btn-solid-dark {
  background-color: #4782A6;
  border-color: #4782A6;
  border-style: solid;
  border-width: 2px;
  color: #F3F1E6;
  font-size: 1rem;
  letter-spacing: 2px;
  margin: 10px 0 0 0;
  padding: 0.5% 5% 0.5% 5%;
}

.link-btn-solid-dark:hover {
  background-color: #F3F1E6;
  border-color: #4782A6;
  color: #4782A6;
  }

.container-fluid {
  padding: 0;
}

/* section {
  width: 100%;
} */
.banner {
  width: 100%;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  /* background-color: none: */
  padding: 0;
  z-index: 4;
}

.wand-sticky-top-bar {
  position: relative;
  text-align: left;
  width: 100%;
  height: 70px;
  background-image: linear-gradient(to top, rgba(71, 130, 166, 0.85), rgba(71, 130, 166, 0.85));
  padding-right: 40px;
}

.navbar {
  /* width: 100%; */
  padding-top: 15px;
  /* background-color: none: */

}

.nav-item {
  padding: 0 10px;
}

.nav-link {
    /* color not working for some reason */
  /* color: #F3F1E6; */
  font-size: 1rem;
}

.my-nav-color {
  color: #F3F1E6;
  letter-spacing: 2px;
}

.my-nav-color:hover {
  color: #FFE9A0;
}

.nav-brand-img {
  position: absolute;
  display: inline-block;
  left: 40px;
  margin-top: 16px;
}

.title-div {
  position: absolute;
  display: inline-block;
  width: 600px;
  color: #F3F1E6;
  /* background-color: #1f4468; */
  /* border-color: white;
  border-style: solid;
  border-width: 2px; */
  left: 190px;
  margin: 22px 0 0 0;
  /* padding: 0 0 0 0; */
  /* z-index: 5; */
  opacity: initial;
}

.title-h1 {
  font-size: 1.4rem;
}

.align-reg-btn {
  position: absolute;
  display: inline-block;
  text-align: right;
  width: 300px  ;
  right: 80px;
  margin-top: -3px;
}

/* .align-toggler-btn-right {
  position: absolute;
  text-align: right;
  right: -40px;
  margin-top: 40px;
} */

/* .align-btn-right {
  position: absolute;
  display: inline-block;
  text-align: right;
  width: 300px;
  right: 40px;
  margin-top: 18px;
} */

.navbar-toggler {
  position: absolute;
  text-align: right;
  right: 0px;
  margin-top: 40px;
  border-style: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.nav-socials-container {
  display: none;
}

.nav-social-icon-a-link {
  color: #F3F1E6;
  margin: 40px 10px 0 10px;
}

.nav-social-icon-a-link:hover {
  color: grey;
}

/* .my-nav-icon-close {
  display: none;
} */

#tablet-reg-nav-btn {
  display: none;
}

.nav-register-btn {
  /* display: inline-block; */
  width: 210px;
  background-color: transparent;
  border-color: #F3F1E6;
  border-style: solid;
  border-width: 2px;
  color: #F3F1E6;
  font-size: 1rem;
  letter-spacing: 2px;
  margin: 5px 0 0 0;
  padding: 0.5% 1% 0.5% 1%;
}

.nav-register-btn:hover {
  background-color: #F3F1E6;
  /* border-color: #F3F1E6; */
  color: #4782A6;
  }

.register-btn {
  /* display: inline-block; */
  width: 210px;
  background-color: transparent;
  border-color: #F3F1E6;
  border-style: solid;
  border-width: 2px;
  color: #F3F1E6;
  font-size: 0.8rem;
  letter-spacing: 2px;
  margin: 10px 0 0 0;
  padding: 0.5% 1% 0.5% 1%;
}

.landing-page-section {
  /* width: 1500px; */
  width: 100%;
  height: 670px;
  background-image: url("images/landing-graphic-img-2.jpg");
  background-position: center bottom;
  background-size: 1850px 700px;
  background-repeat: no-repeat;
  margin-top: -70px;
  padding: 0;
  overflow: hidden;
}

.dev-landing-page-section {
  width: 100%;
  height: 670px;
  background-image: url("images/development-hero-img.jpg");
  background-position: center -150px;
  background-size: 100% auto;
  margin-top: -70px;
  padding: 0;
  overflow: hidden;
}

.area-landing-page-section {
  width: 100%;
  height: 670px;
  background-image: url("images/area-hero-img.jpg");
  background-position: center bottom;
  background-size: 100% auto;
  margin-top: -70px;
  margin-bottom: -50px;
  padding: 0;
  overflow: hidden;
}



.intro-text-section {
  height: 270px;
  background-image: url("images/intro-text-bg-img.png");
  background-position: center bottom;
  background-size: 100% auto;
  background-color: #F3F1E6;
  text-align: center;
  color: #4782A6;
  margin-bottom: -20px;
  padding: 40px 0 30px 0;
}

.p1-intro {
  /* font-family: 'Zen Tokyo Zoo', cursive; */
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  color: #4782A6;
  font-size: 3rem;
  letter-spacing: 2px;
}

.p1-intro-light {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  color: #F3F1E6;
  font-size: 3rem;
  letter-spacing: 2px;
}

.p1-intro-hlight {
  /* font-family: 'Zen Tokyo Zoo', cursive; */
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  color: #4782A6;
  font-size: 2.4rem;
  letter-spacing: 2px;
}

.p2-intro {
  color: #4782A6;
  letter-spacing: 2px;
  font-weight: 600;
}

.p3-intro {
  color: #4782A6;
  letter-spacing: 2px;
  font-weight: 600;
}

.development-image-section {
  color: #F3F1E6;
  /* height: 550px; */
  background-image: url("images/mul-water-bg-img-3.png");
  background-position: center top;
  background-size: 100% auto;
  padding-top: 90px;
  overflow: hidden;

}

#mob-welc-img {
  display: none;
}

#mob-loc-img {
  display: none;
}
/* .welc-text-container {
  text-align: left;
  width: 90%;
  padding: 12% 0 3% 0;
  margin: auto;
} */

.welc-text-container {
  text-align: left;
  width: 90%;
  padding-top: 0;
  padding-left: 10px;
  margin: auto;
}

.welc-img-container {
  width: 90%;
  height: 405px;
  background-image: url("images/mul-welcome-img.jpg");
  background-position: left bottom;
  background-size: 630px 405px;
  overflow: hidden;
  background-repeat: no-repeat;
  /* padding: 12% 0 3% 0; */
  margin: 20px auto 0 auto;
}
/* .welc-img-container {
  width: 90%;
  padding: 12% 0 3% 0;
  margin: auto;
} */

.welc-img {
  width: 100%;
}

.highlight-details-section {
  color: #4782A6;
  text-align: left;
  /* height: 400px; */
  /* padding-bottom: 0; */
  margin-bottom: 0;
  overflow: hidden;
}

.coffee-img-container {
  width: 90%;
  height: 405px;
  background-image: url("images/coffee-img.jpg");
  background-position: right bottom;
  background-size: 630px 405px;
  overflow: hidden;
  background-repeat: no-repeat;
  /* padding: 12% 0 3% 0; */
  margin: auto;
}

.coffee-img {
  width: 100%;
}

.hlight-text-container {
  width: 90%;
  /* background-image: url("images/mul-stamp-logo.png");
  background-position: 98% 30%;
  background-size: 140px 140px;
  background-repeat: no-repeat; */
  /* padding: 8% 0 3% 0; */
  padding-top: 0;
  margin: auto;
}

.hlight-tophalf {
  margin-bottom: 3%;
}

.icon-img {
  width: 25px;
  margin-right: 20px;
}

.hlight-det-mob {
  letter-spacing: 1.1px;
  /* font-size: 1rem; */
}

/* .mul-stamp-logo-img {
  width: 200px;
  margin: -70% 0 20% 15%;
} */

.wd-120 {
  width: 120px;
}

.hlight-tophalf-inline-left {
  display: inline-block;
}

.hlight-tophalf-inline-right {
  display: inline-block;
}

.hlight-btmhalf-inline-left {
  display: inline-block;
  margin-bottom: 3%;
}

.hlight-btmhalf-inline-right {
  display: inline-block;
  margin-bottom: 3%;
}

#arial-view-img {
  display: none;
}

.location-text-section {
  width: 100%;
  height: 600px;
  background-image: url("images/canada-water-masterplan-img.jpg");
  background-position: 200px bottom;
  background-size: 100% auto;
  overflow: hidden;
  background-repeat: no-repeat;
  padding: 0;
  margin-bottom: -2px;
}

.section-w-bg-image-fade {
  position: relative;
  width: 100%;
  height: 600px;
  background-image: linear-gradient(to right, rgba(71, 130, 166, 1), rgba(71, 130, 166, 1));
  /* background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)); */
  /* background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(243, 241, 230, 1)); */
  background-position: left bottom;
  background-size: 40% auto;
  background-repeat: no-repeat;
  overflow: hidden;
  margin-top: -2px;
}

.can-water-se16-text-container {
  text-align: left;
  width: 96%;
  padding: 0;
  /* margin: auto; */
}



.loc-desc-box-bg-inside {
  /* position: relative; */
  /* height: 75%; */
  /* box below + 200 */
  width: 95%;
  height: 600px;
  color: #F3F1E6;
  background-color: #4782A6;
  /* background-image: linear-gradient(to top, rgba(71, 130, 166, 0.8), rgba(71, 130, 166, 0.8)); */
  /* background-color: #4782A6; */
  text-align: left;

  /* width: 90%;
  margin: auto; */

  padding: 140px 50px 80px 12px;
  margin: 0 1% 0 auto;
  /* opacity: 0.8; */
  /* z-index: 6; */
}

.transport-intro-section {
  color: #4782A6;
  /* height: 500px; */
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
}

.transp-intro-text-container {
  text-align: left;
  width: 90%;
  /* height: 400px; */
  padding-top: 65px;
  margin: auto;
}

.can-wat-tube-img-container {
  width: 90%;
  height: 400px;
  background-image: url("images/loc-img-can-water.jpg");
  background-position: center bottom;
  background-size: 622px 400px;
  overflow: hidden;
  background-repeat: no-repeat;
  margin: auto;
}

/* .can-wat-tube-img {
  width: 100%;
} */

.transport-times-section {
  color: #4782A6;
  text-align: left;
  /* padding: 4% 0 4% 0; */
  padding-top: 0;
  overflow: hidden;
}

.transp-icon {
  width: 60px;
  margin-bottom: 2%;
}

.transp-icon-bike {
  width: 80px;
  margin-top: 5px;
  margin-bottom: 2%;
}

.transp-icon-walk {
  width: 50px;
  margin-top: 5px;
  margin-bottom: 2%;
}



.transp-times-underline-div {
  width: 400px;
  color: black;
  /* border-bottom-style: solid;
  border-color: #1f4468;
  border-width: 2px; */
  margin-top: 10px;
}

.tr-ti-spacer-width {
  display: inline-block;
  width: 300px;
}

.tr-ti-align-right {
  display: inline-block;
}

.transp-times {
  text-align: left;
  margin-left: 5%;
  margin-top: 4%;
}



.location-map-section {
  width: 100%;
  background-color: #F3F1E6;
  color: #4782A6;
}

.goog-map-embed-iframe {
  width: 100%;
  height: 600px;
  margin: 10px 0 0 0;
}

.register-now-section {
  width: 100%;
  /* height: 200px; */
  color: #F3F1E6;
  background-color: #4782A6;
  padding: 20px 0 20px 0;
  margin-bottom: 70px;
}

.top-btm-boarder {
  border-color: #F3F1E6;
  border-top: solid;
  border-bottom: solid;
  /* border-style: solid; */
  border-width: 2px;
  padding: 20px 0 20px 0;
}

.DMO-text-container {
  width: 90%;
  margin: auto;
}

.view-brochure-section {
  text-align: left;
  color: #4782A6;
  background-color: #F3F1E6;
  overflow: hidden;
  padding-top: 0;
}

.brochure-text-container {
  width: 80%;
  text-align: left;
  padding-top: 150px;
  margin: 0 auto 0 20%;
}

.brochure-cover-container {
  width: 300px;
  margin: auto;
}

.brochure-cover-img {
  width: 300px;
  margin: auto;
}

.registration-form-section {
  color: #4782A6;
  background-color: #F3F1E6;
}

.wandle-form-container-div {
  width: 90%;
  border-color: #4782A6;
  border-style: solid;
  border-width: 2px;
  margin: 10px auto 15px auto;
  padding: 50px 50px 0 50px;
}

.mul-form-iframe {
  /* color: #4782A6;
  background-color: #F3F1E6; */
  /* styling doesn't here work, must be edited in powr.io */
  width: 100%;
  height: 1250px;
  margin-top: 50px;
  /* frameborder: 0; */
}


.form-disclaimer {
  font-size: 0.8rem;
  text-align: left;
  padding: 0 10% 0 10%;
}

.wandle-text-section {
  width: 100%;
  height: 1100px;
  background-image: url("images/couple-in-new-home-web.jpg");
  background-position: right top;
  background-size: 2110px auto;

  /* background-size: 2110px 1200px; */
  /* background-size: 100% auto; */
  overflow: hidden;
  background-repeat: no-repeat;
  padding-top: 0;
  padding-bottom: 0;
  /* margin-bottom: 3%; */
}

.sml-asterix {
  font-size: 1.6rem;
}

/* .abt-wandle-container-div {
  background-image: url("images/couple-in-new-home-web.jpg");
} */

.abt-wandle-transp-bg-color {
  width: 100%;
  background-image: none;
  /* background-color: #4782A6; */
  /* background-image: linear-gradient(to bottom, rgba(71, 130, 166, 0.8), rgba(71, 130, 166, 1)); */
  /* background-color: #1f4468; */
  /* opacity: 0.8; */
}

.wandle-logo-abt {
  width: 250px;
  margin: 0 0 50px 0;
  /* padding-bottom: 3%; */
  /* opacity: 2; */
}

.abt-wandle-body-div {
  color: #F3F1E6;
  padding: 70px 100px 0 100px;

  /* opacity: 1; */
}

.wandle-tag-abt {
  font-size: 2.6rem;
}

.wandle-body-abt {
  text-align: left;
  font-size: 0.8rem;
  margin-top: 3%;
}

.how-it-works-container {
  position: relative;
  height: 250px;
}

.how-it-works-img {
  position: absolute;
  width: 300px;
  top: 10px;
  left: 10px;
}

.how-it-works-text-dep {
  position: absolute;
  top: 0;
  left: 320px;
}

.how-it-works-text-mort {
  position: absolute;
  top: 50px;
  left: 320px;
}

.how-it-works-text-rent {
  position: absolute;
  top: 120px;
  left: 320px;
}

.foot-section {
  width: 100%;
  background-color: #4782A6;
  /* padding-top: 0; */
}

.footer {
  padding: 0 15% 0 15%;
}

.wandle-logo-foot {
  width: 130px;
  margin-bottom: 3%;
}

.wandle-disclaimer {
  font-size: 0.5rem;
  margin-bottom: 2%;
}

.YCD-Tag {
  font-size: 0.7rem;
}


/* Development Page */

.dev-welc-text-container {
  /* text-align: left; */
  width: 70%;
  padding-top: 0;
  padding-left: 10px;
  margin: auto;
}

.img-slider-section-devel {
  color: #4782A6;
  background-color: #F3F1E6;
  padding: 0;
}

.my-slider-container {
  width: 95%;
  max-width: 950px;
  margin: auto;
}

.devel-details-section {
  color: #4782A6;
  background-color: #F3F1E6;
  overflow: hidden;
}

.devel-details-col-container {
  width: 90%;
  text-align: left;
  margin: auto;
}

.devel-details-para {
  color: black;
}

/* Area Page */

.area-development-image-section {
  color: #F3F1E6;
  /* height: 550px; */
  background-image: url("images/mul-water-bg-img-3.png");
  background-position: center top;
  background-size: 100% 100%;
  padding-top: 90px;
  padding-bottom: 140px;
  overflow: hidden;
}

.area-welc-text-container {
  /* text-align: left; */
  width: 70%;
  padding-top: 0;
  padding-left: 10px;
  margin: auto;
}

.area-intro-img-container {
  width: 95%;
  height: 600px;
  background-image: url("images/area-intro-img.jpg");
  background-position: center bottom;
  background-size: 622px 622px;
  overflow: hidden;
  background-repeat: no-repeat;
  margin: -150px auto 0 10px;
}

.area-intro-text-container {
  text-align: left;
  color: black;
  width: 90%;
  /* height: 550px; */
  padding-top: 0;
  margin: auto;
  overflow: hidden;
}

.area-two-row {
  max-width: 100%;
}

.area-section-two {
  max-width: 99%;

  /* overflow-y: hidden; */
}

.area-section-three {
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
}

.sec-3-img1 {
  background-image: url("images/area-sec-3-img1.jpg");
}

.sec-3-img2 {
  background-image: url("images/area-sec-3-img2.jpg");
}

.sec-3-img3 {
  background-image: url("images/area-sec-3-img3.jpg");
}

.area-sec-3-img-container {
  width: 400px;
  height: 400px;
  background-position: center bottom;
  background-size: 420px 420px;
  overflow: hidden;
  background-repeat: no-repeat;
  margin: auto;
}

#area-img-replacer {
  display: none;
  overflow: hidden;
}

/* Availability Page */

.avail-intro-section {
  color: #4782A6;
  padding-bottom: 0;
}

.selector-btns-section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.avail-section {
  padding-top: 0;
  padding-bottom: 0;
}

.avail-btn-inline-div {
  display: inline-block;
  width: 220px;
  margin: 0 5px 0 5px;
}

.avail-btn {
  /* width: 300px; */
  min-width: 200px;
  background-color: transparent;
  border-color: #4782A6;
  border-style: solid;
  border-width: 2px;
  color: #4782A6;
  letter-spacing: 1px;
  margin: 0 10px 10px 0;
  padding: 2% 10% 2% 10%;
}

.avail-btn:hover {
  background-color: #4782A6;
  border-color: #4782A6;
  color: #F3F1E6;
}

.avail-btn-active {
  background-color: #4782A6;
  border-color: #4782A6;
  color: #F3F1E6;
}

.aprt-hlights-container {
  display: inline-block;
  /* width: 90%; */
  width: 350px;
  background-color: #4782A6;
  padding: 20px;
  margin: 20px;
}

.avail-flrpln-img-container {
  height: 400px;
  background-color: white;
  margin-top: 10px;
}

.avail-flrpln-img {
  width: 100%;
  max-height: 380px;
  /* background-color: white; */
  padding: 20px;
}

.aprt-price-h1 {
  font-weight: 700;
}

.sub-details-container {
  text-align: left;
  padding: 10px 0 10px 0;
}

/* #two-bed-avail {
  display: none;
}

#three-bed-avail {
  display: none;
} */

.avail-discl-section {
  color: #4782A6;
}

/* Apartment Details Section */

.apart-header-section {
  /* height: 270px; */
  background-color: #F3F1E6;
  text-align: center;
  color: #4782A6;
  padding: 40px 0 30px 0;
}

.cgi-display-section {
  padding-top: 0;
}

.apartment-iframe-container {
  width: 850px;
  margin: auto;
}

/* .cgi-display-section {

} */

.mob-view-flrplan-section {
  display: none;
}

.mob-view-cgi-nav-btns-container {
  width: 100%;
}

.mob-flrplan-img-container {
  width: 90%;
  max-width: 580px;
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  margin: auto;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 40px;
}

.mob-apart-deet-flr-img {
  width: 100%;

}

.avail-btn-mob-height {
  height: 120px;
}

.model-icon-img {
  /* width: 55px;
  margin-top: 8px; */
}

.vr-tour-icon-img {
  /* width: 80px;
  margin-top: 15px;
  margin-bottom: 13px; */
}

.icon-avail-btn {
  /* width: 300px; */
  min-width: 180px;
  background-color:  #cddee8;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  color: #black;
  letter-spacing: 1px;
  margin: 10px auto 0 auto;
  padding: 2% 5% 2% 5%;
}

/* .icon-avail-btn:hover {
  background-color: #cddee8;
  border-color: #F3F1E6;
  color: #F3F1E6;
} */

.apart-details-section {
  color: #4782A6;
  padding-top: 0;
}

.all-apart-deets-container {
  width: 70%;
  max-width: 850px;
  margin: 70px auto 70px auto;
}

.all-apart-deets-container div b {
  color: #4782A6;
}

.apart-deets-list-container {
  text-align: left;
}

.apart-underline-div {
  width: 340px;
  color: black;
  /* border-bottom-style: solid;
  border-color: #1f4468;
  border-width: 2px; */
  margin-bottom: 10px;
}

.underl {
  border-bottom-style: solid;
  border-color: black;
  border-width: 2px;
  padding-bottom: 5px;
}

.apart-spacer-width {
  display: inline-block;
  width: 85px;
}

.apart-spacer-width-m {
  display: inline-block;
  width: 145px;
}

.apart-deets-table-container {
  /* width: 90%; */
  text-align: left;
  /* margin: auto; */
}

.apart-deets-item {
  margin-bottom: 10px;
}

.apart-deets-list-bold {
  font-weight: 700;
  color: #4782A6;
}

.apart-deets-list-plain {
  color: black;
}

.apart-disclaimer-div {
  width: 70%;
  max-width: 850px;
  text-align: left;
  margin: auto;
}

.apart-disclaimer-div p {
  font-size: 0.7rem;
}

@media only screen and (max-width: 1500px) {
  .my-width-control {
    width: 1400px;
    padding-left: 2%;
    padding-right: 2%;
  }

  .landing-page-section {
    width: 100%;
  }

  .dev-landing-page-section {
    width: 100%;
    height: 670px;
    background-size: 1500px auto;
  }

  .area-landing-page-section {
    width: 100%;
    height: 670px;
    background-size: 1500px auto;
  }

  .intro-text-section {
    background-size: 1500px auto;
  }

  .development-image-section {
    background-size: 1500px 100%;
  }

  .welc-text-container {
    padding-top: 25px;
  }

  .location-text-section {
    background-position: center bottom;
    /* background-size: 1155 650; */
    background-size: 1510px 800px;
  }

  /* keep fade size dynamic */

  .transp-spacer {
    padding-top: 45px;
  }

  .transp-intro-text-container {
    /* padding-top: 45px; */
  }

}

@media only screen and (max-width: 1400px) {
  .my-width-control {
    width: 1200px;
    padding-left: 2%;
    padding-right: 2%;
  }

  .landing-page-section {
    /* height: 670px; */
    /* background-size: 1400px 1805px; */
  }

  .welc-text-container {
    padding-top: 0;
  }

  .welc-img-container {
    height: 412px;
    background-size: 640px 412px;
  }

  .area-sec-3-img-container {
    width: 350px;
    height: 350px;
    background-size: 380px 380px;
  }

  .hlight-text-container {
    padding-top: 0;
  }

  .coffee-img-container {
    height: 377px;
    background-size: 585px 377px;
  }

  .transp-spacer {
    padding-top: 15px;
  }

  .transp-intro-text-container {
    /* padding-top: 15px; */
  }

  .can-wat-tube-img-container {
    height: 350px;
    background-size: 544px 350px;
  }
}

/* extra 1200 to 1024?? */

@media only screen and (max-width: 1200px) {
/* @media only screen and (max-width: 1024px) { */
  .my-width-control {
    width: 960px;
    padding-left: 2%;
    padding-right: 2%;
  }

  p {
    font-size: 1rem;
  }

  /* #navbarTogglerMulberry {
    position: absolute;
    top: 70px;
    left: 0;
    background-image: linear-gradient(to top, rgba(71, 130, 166, 0.8), rgba(71, 130, 166, 0.8));
    text-align: left;
    padding: 2%;
  } */

  .navbar-collapse {
    position: absolute;
    top: 70px;
    left: 0;
    background-image: linear-gradient(to top, rgba(71, 130, 166, 0.85), rgba(71, 130, 166, 0.85));
    text-align: left;
    padding: 2% 2% 50% 2%;
    width: 50%;
  }

  .navbar-collapse.show {
    height: auto;
    -webkit-transition: left 0.4s ease-in;
    transition: left 0.4s ease-in;
  }

  .navbar-collapse.collapsing {
    height: auto;
    -webkit-transition: left 0.4s ease;
    transition: left 0.4s ease;
    left: -50%;
  }

  #tablet-reg-nav-btn {
    display: initial;
  }

  .tab-register-btn {
    /* display: inline-block; */
    width: 210px;
    background-color: transparent;
    border-color: #F3F1E6;
    border-style: solid;
    border-width: 2px;
    color: #F3F1E6;
    font-size: 0.8rem;
    letter-spacing: 2px;
    margin: 2px 0 0 0;
    padding: 0.5% 1% 0.5% 1%;
  }

  .tab-register-btn:hover {
    background-color: #F3F1E6;
    border-color: #F3F1E6;
    color: #4782A6;
    }

  .align-reg-btn {
    position: absolute;
    display: inline-block;
    text-align: right;
    width: 300px;
    right: 120px;
    /* margin-top: -3px; */
  }

  .nav-socials-container {
    display: inline;
    text-align: center;
  }

  .nav-inner-socials-container {
    margin-top: 100px;
  }

  .p-big-italic-heading {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    font-size: 2.2rem;
  }

  .landing-page-section {
    /* height: 670px; */
    /* background-size: 1200px 1547px; */
  }

  .welc-text-container {
    padding-top: 10px;
  }

  .welc-img-container {
    height: 370px;
    background-size: 575px 370px;
  }

  .coffee-img-container {
    height: 351px;
    background-size: 545px 351px;
  }

  .development-image-section {
    /* height: 450px; */
  }

  .highlight-details-section {
    /* height: 360px; */
  }

  #avail-for-text {
    display: none;
  }

  .hlight-tophalf {
    margin-bottom: 2%;
  }

  .icon-img {
    width: 22px;
  }

  .area-sec-3-img-container {
    width: 270px;
    height: 270px;
    background-size: 300px 300px;
  }

  .transp-spacer {
    padding-top: 15px;
  }

  .transp-intro-text-container {
    /* padding-top: 15px; */
  }

  .can-wat-tube-img-container {
    height: 300px;
    background-size: 466px 300px;
  }

  .transport-intro-section {
    /* height: 370px; */
  }

  .transport-times-section {
    /* padding: 0; */
  }

  .goog-map-embed-iframe {
    height: 500px;
  }

  .abt-wandle-body-div {
    /* padding: 3% 5% 4% 5%; */
    padding: 75px 50px 0 50px;
  }

  .footer {
    padding: 0 75px 0 75px;
  }
}

/* note, used 960 before */
@media only screen and (max-width: 992px) {
/* @media only screen and (max-width: 800px) { */

    .my-width-control {
    /* 100%?? */
    width: 800px;
    max-width: 100%;
    padding-left: 1%;
    padding-right: 1%;
  }

  .wand-sticky-top-bar {
    text-align: center;
    padding-right: 10px;
  }

  #tablet-reg-nav-btn {
  display: none;
  }

  #mul-reg-title {
    display: none;
  }

  .title-div {
    width: 100px;
  }

  .landing-page-section {
    /* height: 670px; */
    background-size: 992px 1279px;
    background-image: url("images/landing-graphic-img-2-mob.jpg");
    background-size: 100% auto;
  }

  .brochure-text-container {
    /* padding-top: 150px; */
    margin: 0 auto 0 auto;
  }

  /* .align-btn-right {
    position: inherit;
    text-align: center;
    width: 300px;
  } */

  .development-image-section {
    background-size: 100% 100%;
    /* background-size: 1500px 100%; */
  }

  #mob-welc-img {
    display: initial;
  }

  #welc-img-col {
    display: none;
  }

  .welc-img {
    width: 100%;
  }

  #coffee-img-col {
    display: none;
  }

  #mob-loc-img {
    display: initial;
    margin-bottom: 70px;
  }

  #loc-img-col {
    display: none;
  }

  #dev-deets-col-spacer {
    margin-top: 50px;
  }

  .area-welc-text-container {
    /* text-align: left; */
    width: 80%;
    padding-top: 0;
    padding-left: 10px;
    margin: auto;
  }

  .area-intro-img-container {
    width: 95%;
    height: 600px;
    background-image: url("images/area-intro-img.jpg");
    background-position: center bottom;
    background-size: 622px 622px;
    overflow: hidden;
    background-repeat: no-repeat;
    margin: -70px auto 0 auto;
  }

  .area-intro-text-container {
    width: 80%;
    padding-top: 50px;
    /* padding-bottom: 50px; */
  }

  .area-section-two {
    display: none;
  }

  #area-3-sq-imgs {
    display: none;
  }

  #area-img-replacer {
    display: initial;
    /* padding: 0;
    margin: 0; */
  }

  .sec-3-img2 {
    background-image: url("images/area-sec-3-img2.jpg");
  }

  .area-sec-3-img-container {
    width: 95%;
    height: 420px;
    background-position: center top;
    background-size: 420px 420px;
    overflow: hidden;
    background-repeat: no-repeat;
    margin: 50px auto 0 auto;
  }

  /* #mul-coffee-img {
    display: none;
  } */

  /* .coffee-img-container {
    padding: 0;
  } */

  .highlight-details-section {
    /* padding-top: 0; */
  }

  .hlight-text-container {
    width: 90%;
    /* background-image: url("images/mul-stamp-logo.png");
    background-position: 85% 15%;
    background-size: 140px 140px; */
    padding: 0 0 0 0;
    /* padding: 2% 0 3% 10%; */
  }

  #arial-view-img {
    display: initial;
    width: 100%;
  }

  .location-text-section {
    /* width: 100%; */
    height: auto;
    background-image: none;
  }

  .can-water-se16-text-container {
    width: 100%;
    /* padding: 0; */
  }

  .section-w-bg-image-fade {
    height: auto;
    background-size: 100% auto;
  }

  .loc-desc-box-bg-inside {
    width: 95%;
    height: auto;
    padding: 70px 0 70px 0;
  }

  #avail-for-text {
    display: initial;
  }

  .transp-spacer {
    padding-top: 0;
  }

  .transport-intro-section {
    /* height: 850px; */
    padding-bottom: 70px;
  }

  .transp-intro-text-container {
    width: 90%;
    /* padding: 3% 0 3% 0; */
  }

  #rail-trans-times {
    /* margin-top: 50px; */
  }

  .transp-icon-bike {
    margin-top: 0;
  }

  .transp-icon-walk {
    margin-top: 0;
  }

  .can-wat-tube-img-container {
    width: 90%;
    height: 450px;
    background-size: 800px auto;
    margin-top: 70px;
    /* padding: 3% 0 3% 0; */
  }

  .view-brochure-section {
    padding-top: 0;
  }

  .brochure-text-container {
    text-align: center;
    padding-top: 0;
    margin-bottom: 70px;
  }

  /* Apartment Pages */

  .apart-header-section {
    width: 70%;
    padding-bottom: 0;
    margin: auto;
  }

  .cgi-display-section {
    display: none;
  }

  .mob-view-flrplan-section {
    /* width: 90%;
    max-width: 560px; */
    display: initial;
  }

  .apart-details-section {
    padding-top: 50px;
  }

  .all-apart-deets-container {
    width: 80%;
    margin: 70px auto 70px auto;
  }

  .apart-deets-list-container {
    text-align: left;
    margin-bottom: 50px;
  }

  .apart-deets-table-container {
    width: 330px;
    /* margin: auto; */
  }

  .apart-disclaimer-div {
    width: 80%;
    max-width: 500px;
    text-align: left;
  }

}

/* @media only screen and (max-width: 800px) {
  .my-width-control {
    width: 590px;
    padding-left: 2%;
    padding-right: 2%;
  }
} */


@media only screen and (max-width: 580px) {

  p {
    font-size: 1rem;
  }

  .my-width-control {
    width: 100%;
    /* width: 560px; */
    padding-left: 1%;
    padding-right: 1%;
  }

  .navbar-collapse {
    width: 102%;
    padding: 2% 2% 70% 2%;
  }

  .navbar-collapse.collapsing {
    left: -102%;
  }

  .landing-page-section {
    height: 530px;
    background-size: 580px 748px;
  }

  .dev-landing-page-section {
    height: 530px;
    background-size: 1200px auto;
    background-position: 800px -150px;
  }

  .area-landing-page-section {
    height: 530px;
    background-size: 1050px auto;
  }

  .p-big-italic-heading {
    /* font-family: 'Libre Baskerville', serif;
    font-style: italic; */
    font-size: 1.8rem;
  }

  /* .logo-img-landing {
    width: 100%;
    max-width: 220px;
    margin-top: 20%;
  } */

  .intro-text-section {
    height: 250px;
    /* margin-bottom: -20px;
    padding: 40px 0 30px 0; */
  }

  .p1-intro {
    font-size: 2.3rem;
  }

  .p1-intro-light {
    font-size: 2.3rem;
  }

  .area-intro-img-container {
    /* width: 95%; */
    height: 500px;
    background-size: 580px 580px;
    margin: -70px auto 0 auto;
  }

  .area-intro-text-container {
    width: 80%;
    padding-top: 50px;
    /* padding-bottom: 50px; */
  }

  .area-sec-3-img-container {
    width: 100%;
    height: 400px;
    background-position: center top;
    background-size: 400px 400px;
    overflow: hidden;
    background-repeat: no-repeat;
    margin: 50px auto 0 auto;
  }

  .selector-btns-section {
    padding-top: 0;
  }

  .development-image-section {
    /* height: 400px; */
  }

  .dev-welc-text-container {
    /* text-align: left; */
    width: 90%;
    padding-top: 0;
    padding-left: 0;
    margin: auto;
  }

  .highlight-details-section {
    /* padding-top: 40px; */
  }

  .hlight-text-container {
    width: 90%;
    /* background-image: none; */
    /* background-position: 85% 15%;
    background-size: 140px 140px; */
    padding: 0 0 0 10px;
  }

  #avail-for-text {
    display: none;
  }

  .p1-mob {
    font-size: 1.6rem;
  }

  .hlight-det-mob {
    font-size: 1rem;
  }

  .icon-img {
    width: 18px;
    margin-right: 15px;
  }

  .loc-desc-box-bg-inside {
    padding: 70px 50px 70px 10px;
  }

  .transport-intro-section {
    /* height: 720px; */
  }

  .can-wat-tube-img-container {
    height: 270px;
    background-size: 420px 270px;
  }

  .transport-times-section {
    display: none;
  }

/* .img-slider-section-devel my-width-control {
  padding: 0;
} */

  .my-slider-container {
    width: 100%;
    margin: 0;
  }

  .location-map-section {
    /* padding-top: 0; */
  }

  .goog-map-embed-iframe {
    height: 340px;
  }

  .wandle-form-container-div {
    padding: 3% 3% 0 3%;
  }

  .mul-form-iframe {
    height: 1750px;
  }

  .HIW-headings {
    display: none;
  }

  .how-it-works-container {
    display: none;
  }

  .wandle-text-section {
    height: 900px;
    background-position: -1350px top;
  }

  .foot-section {
    /* padding-top: 0; */
  }

  .wandle-logo-abt {
    width: 200px;
    /* margin-top: 2%; */
  }

  .abt-wandle-body-div {
    /* padding: 3% 5% 4% 5%; */
    padding: 75px 25px 0 25px;
  }

  .footer {
    padding: 0 35px 0 35px;
  }

  .avail-intro-section {
    margin-top: -100px;
    padding-bottom: 30px;
  }

}

@media only screen and (max-width: 450px) {
  .mul-form-iframe {
    height: 1750px;
  }

  .landing-page-section {
    height: 400px;
    background-repeat: no-repeat;
  }
}

@media only screen and (max-width: 400px) {
  .mul-form-iframe {
    height: 1900px;
  }
}
